@model IEnumerable<ArciteatroVibo.Models.Contattaci>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Testo)
            </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Testo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdContattici">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdContattici">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdContattici">Delete</a>
            </td>
           
        </tr>
}
    </tbody>
</table>
