@model ArciteatroVibo.Models.Rassegne

@{
    ViewData["Title"] = "Details";
}



<div class="container my-5 ">
    <h5 class="py-5 text-decoration-underline aragostaFont ">Rassegna "Il Coraggio delle Donne":<span> "@Html.DisplayFor(model => model.Edizione)"</span></h5>
    <div class="row justify-content-between">
        <div class="col-6">
            <img class="d-block w-100 imageFit" src="@Url.Content(Model.Locandina)" />

        </div>
        <div class="col-5">

            <h5 class="aragostaFont"> @Html.DisplayFor(model => model.Titolo)</h5>
            <p>@Html.DisplayFor(model => model.Testo)</p>
            <div class="row">
                <div class="col-6">
                    <h5 class="aragostaFont">Luogo: </h5>
                    <p>@Html.DisplayFor(model => model.Luogo)</p>

                </div>
                <div class="col-6">
                    <h5 class="aragostaFont">Data: </h5>
                    <p>@Html.DisplayFor(model => model.Data)</p>

                </div>
                <div class="row">
                    <div class="col-6 my-5">
                        <h5 class="aragostaFont">Interpreti :</h5>
                        <ul>
                            @if (Model.Interpreti != null)
                            {
                                var attori = Model.Interpreti;
                                var elemento = attori.Split(",");

                                foreach (var item in elemento)
                                {
                                    <li>@item</li>
                                }
                            }
                            else
                            {
                                <li>Non ci sono interpreti</li>
                            }

                        </ul>
                    </div>
                    <div class="col-6">
                        <h5 class="aragostaFont">Extra :</h5>
                        <p> @Html.DisplayFor(model => model.Extra)</p>
                        <h5 class="aragostaFont">Regia</h5>
                        <p> @Html.DisplayFor(model => model.Regia)</p>
                    </div>
                </div>
            </div>
            <a asp-action="Index" class="aragostaFont">Torna indietro</a>
        </div>
    </div>


</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdRassegna">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
