@model IEnumerable<ArciteatroVibo.Models.Rassegne>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locandina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Testo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edizione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Luogo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Interpreti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Extra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locandina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Testo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luogo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Interpreti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Extra)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRassegna">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRassegna">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRassegna">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
