@model IEnumerable<ArciteatroVibo.Models.Rassegne>

@{
    ViewData["Title"] = "Index";
}



@* <p>
    <a asp-action="Create">Create New</a>
</p>
 *@

<div class="container-fluid bg-white fade-in">
    <div class="container py-5 ">
        <div>
            <h4>
                Rassegna: Il coraggio delle Donne
            </h4>
            <p>
                Chupa chups chocolate caramels sesame snaps pastry. Sugar plum jelly soufflé biscuit tootsie roll caramels brownie. Chocolate tootsie roll bonbon toffee croissant gingerbread cupcake jelly beans. Marshmallow tiramisu tootsie roll cheesecake cotton candy soufflé powder gummi bears bonbon. Pie cookie powder danish sesame snaps sweet apple pie. Chocolate ice cream bonbon cake wafer pastry. Toffee jelly pudding jelly beans jelly-o carrot cake sweet roll ice cream. Gummies marzipan lollipop chocolate bar danish. Chocolate cake jelly-o cupcake chocolate wafer apple pie topping. Soufflé pudding wafer brownie oat cake. Sesame snaps brownie soufflé liquorice sweet roll gummies. Carrot cake icing chupa chups cake brownie. Gingerbread topping sesame snaps tootsie roll gummi bears. Tootsie roll shortbread carrot cake lollipop soufflé ice cream danish tootsie roll.
            </p>
        </div>
    </div>
</div>
<div class=" container my-5">
    <div class="row justify-content-between">
        @if (User.IsInRole("Admin"))
        {
            <div class=" text-center my-5 me-5"> <a asp-action="Create"> <img src="~/immagini/AggiungiEdizione.png" width="400px" alt="Alternate Text" id="liveAlertBtn" /></a></div>
        }

        
        @foreach (var item in Model)
        {
            <div class="col-5">
                <h5 class="aragostaFont"> @Html.DisplayFor(modelItem => item.Data)</h5>
                <div class="card" style="width: 30rem;">
                    <img src="@Url.Content(item.Locandina)" class="card-img-small" alt="...">
                    <div class="row">
                        <div class="col-6">

                            <h5 class="aragostaFont card-title pt-2 m-2">@Html.DisplayFor(modelItem => item.Edizione)</h5>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="text-end m-4">   <a asp-action="Edit" asp-route-id="@item.IdRassegna"> <img src="~/immagini/Modifica.png" width="150px" alt="Alternate Text" id="liveAlertBtn" /></a></div>
                            }

                            
                        </div>
                        <div class="col-5 m-2 text-end">
                            <a asp-action="Details" class=" btn btn pinkButtonSmall " asp-route-id="@item.IdRassegna">Esplora</a>
                         
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


    @* <a asp-action="Details" asp-route-id="@item.IdRassegna">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.IdRassegna">Delete</a> *@


