@model IEnumerable<ArciteatroVibo.Models.Rassegne>

@{
    ViewData["Title"] = "Index";
}



@* <p>
    <a asp-action="Create">Create New</a>
</p>
 *@

<div class="container-fluid bg-white fade-in">
    <div class="container py-5 ">
        <div>
            <h4>
                Rassegna: Il coraggio delle Donne
            </h4>
            <p>
                La rassegna nasce nel 2017 quando durante la “Giornata per l’eliminazione della violenza contro le donne” abbiamo ricordato Maria Chindamo: abbiamo rappresentato da allora STORIE di DONNE CORAGGIOSE che hanno sfidato la ndrangheta e di Donne che non ce l’’hanno fatta, come le Storie tratte dall’ Archivio di Stato di Vibo Valentia e ancora STORIE di PASSIONI agite con successo in tutti i campi: nella Ricerca scientifica, nell’avvocatura, nella politica, nell’Arte: Comunque Donne che hanno tracciato la strada per la conquista dei Diritti. Nel 2023 anche Storie di Gaslighting insieme all’’Esperta del Centro Antiviolenza dell’ Associazione: “Attivamente coinvolte” e fatto l’esperienza di portare queste Storie in una Scuola S.Di Vibo.
            </p>
        </div>
    </div>
</div>
<div class=" container my-5">
    <div class="row justify-content-between">
        @if (User.IsInRole("Admin"))
        {
            <div class=" text-center my-5 me-5"> <a asp-action="Create"> <img src="~/immagini/AggiungiEdizione.png" width="400px" alt="Alternate Text" id="liveAlertBtn" /></a></div>
        }

        
        @foreach (var item in Model.Reverse())
        {
            <div class="col-5">
                <h5 class="aragostaFont"> @Html.DisplayFor(modelItem => item.Data)</h5>
                <div class="card" style="width: 30rem;">
                    <img src="@Url.Content(item.Locandina)" class="card-img-small" alt="...">
                    <div class="row">
                        <div class="col-6">

                            <h5 class="aragostaFont card-title pt-2 m-2">@Html.DisplayFor(modelItem => item.Edizione)</h5>
                            @if (User.IsInRole("Admin"))
                            {
                                <div class="text-end m-4">   <a asp-action="Edit" asp-route-id="@item.IdRassegna"> <img src="~/immagini/Modifica.png" width="150px" alt="Alternate Text" id="liveAlertBtn" /></a></div>
                                <div class="text-end m-4">   <a asp-action="Delete" asp-route-id="@item.IdRassegna"> <img src="~/immagini/Elimina.png" width="150px" alt="Alternate Text" id="liveAlertBtn" /></a></div>
                            }

                            
                        </div>
                        <div class="col-5 m-2 text-end">
                            <a asp-action="Details" class=" btn btn pinkButtonSmall " asp-route-id="@item.IdRassegna">Esplora</a>
                         
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


    @* <a asp-action="Details" asp-route-id="@item.IdRassegna">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.IdRassegna">Delete</a> *@


