@model ArciteatroVibo.Models.Contatti

@{
    ViewData["Title"] = "Details";
}



<div class="container">
    <h4 class="titlePage ms-3" style="text-align:left">Contatti</h4>
    <div class="row container">
        <div class="col-6">
            <img src="/immagini/ViboValentia.jpg" class="card-img-normal d-block" alt="Alternate Text" />
        </div>
        <div class="col-6">
            <h5>  @Html.DisplayFor(model => model.Sede)</h5>
            <h5>  @Html.DisplayFor(model => model.Email)</h5>
            <h5>  @Html.DisplayFor(model => model.Telefono1)</h5>
            <h5>  @Html.DisplayFor(model => model.Telefono2)</h5>
            <h5>  @Html.DisplayFor(model => model.Pec)</h5>

            <a href="mailto:@Html.DisplayFor(model => model.Email)" class="aragostaFont">Clicca qui per scriverci!</a>
        </div>
    </div>
    @if(User.IsInRole("Admin"))
    {
        <div>
            <a asp-action="Edit" asp-route-id="@Model?.IdContatto">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
    }
    
    
