@model IEnumerable<ArciteatroVibo.Models.Contatti>

@{
    ViewData["Title"] = "Index";
}



<div class="container">
    <div class="row">
         @foreach(var item in Model)
            {
        <div class="col-6">

                <p>@Html.DisplayFor(modelitem => item.Sede)</p>
                <p>@Html.DisplayFor(modelitem => item.Email)</p>
                <p>@Html.DisplayFor(modelitem => item.Telefono1)</p>
                <p>@Html.DisplayFor(modelitem => item.Telefono2)</p>
                <p>@Html.DisplayFor(modelitem => item.Pec)</p>

                    
              
          
        </div>
           
        }
       
    </div>
</div>

 

