@model IEnumerable<ArciteatroVibo.Models.Eventi>

@{
    ViewData["Title"] = "Index";
}
<div class="container  transition-fade" id="swup">
    <h4 class="titlePage">Eventi</h4>
</div>

@* uso model reverse per riordinare gli elementi nel foreach dall'ultimo al primo *@
<div class="m-5 text-center">  <a asp-action="Create"> <img src="~/immagini/NuovoEvento.png" width="200px" alt="Alternate Text" /></a></div>
@foreach (var item in Model.Reverse())
    {
    <div class="container-fluid eventiColor ">
        <div class="container ">

        <div class=" row justify-content-between">
               
                <div class="col-6 my-5">
                    
                <h4 class="  mt-5">
                        @Html.DisplayFor(modelitem => item.Titolo)
                    @if(item.InCorso == true)
                    {
                        <span class="badge bg-dark ms-2">
                            In corso
                        </span>
                    }
                    else
                    {
                            <span class=" badgeOff ">
                            Evento passato
                        </span>
                    }
                   
                        
                </h4>
                <p>
                    @Html.DisplayFor(modelitem => item.Sottotitolo)
                </p>
                <p>
                    @Html.DisplayFor(modelitem => item.Data)
                </p>
                    <p>
                        @Html.DisplayFor(modelitem => item.Luogo)
                    </p>
                <p class="mt-5">
                    @Html.DisplayFor(modelitem => item.Testo)
                </p>
            </div>
                <div class="col-3 my-5  ">

                <div>
                        <a href="@Url.Content(item.Locandina)" data-toggle="lightbox" data-size="fullscreen" data-caption="This describes the image">
                        <img src="@Url.Content(item.Locandina)"  class="d-block mt-5 w-100 shadow " alt="Alternate Text" />

                    </a>
                    <p class="aragostaFont">
                         Clicca per ingrandire
                    </p>
                    
                </div>


                    <a asp-action="Delete" asp-route-id="@item.IdEvento"> <img src="~/immagini/Elimina.png" width="200px" alt="Alternate Text" id="liveAlertBtn" /></a>

                    <a asp-action="Edit" asp-route-id="@item.IdEvento"> <img src="~/immagini/Modifica.png" width="200px" alt="Alternate Text" id="liveAlertBtn" /></a>


            </div>
        </div>
        </div>
    </div>
    }




