@model IEnumerable<ArciteatroVibo.Models.Eventi>

@{
    ViewData["Title"] = "Index";
}
<div class=" transition-fade" id="swup" style="background-color:#1c1c1cff">
     <div class="container">
        @if (User.IsInRole("Admin"))
        {
            <div class="pt-5 text-center">  <a asp-action="Create"> <img src="~/immagini/NuovoEvento.png" width="200px" style="box-shadow: 0px -10px 10px white inset " alt="Alternate Text" /></a></div>
        }
        <h4 class="mb-0 text-light  py-5 text-decoration-underline">Sul calendario!</h4>
     </div>
        
   
</div>

@* uso model reverse per riordinare gli elementi nel foreach dall'ultimo al primo *@




@foreach (var item in Model.Reverse())
    {


    <div class="container-fluid @( item.InCorso ? "inCorso g-0 " : "eventiColor" )">
        <div class="container ">
        <div class=" row justify-content-between">

                <div class="col-6 my-5  @( item.InCorso ? "bg-light rounded-3 shadow-lg  p-5" : "" )">
                    
                <h4 class=" fw-bold mt-5">
                        @Html.DisplayFor(modelitem => item.Titolo)
                    @if(item.InCorso == true)
                    {
                        <span class="badge bg-danger ms-2">
                            In corso
                        </span>
                    }
                    else
                    {
                            <span class=" badgeOff ">
                            Evento passato
                        </span>
                    }
                   
                        
                </h4>
                <p>
                    @Html.DisplayFor(modelitem => item.Sottotitolo)
                </p>
                <p>
                    @Html.DisplayFor(modelitem => item.Data)
                </p>
                    <p>
                        @Html.DisplayFor(modelitem => item.Luogo)
                    </p>
                <p class="mt-5">
                    @Html.DisplayFor(modelitem => item.Testo)
                </p>
            </div>
                <div class="col-3 my-5  ">
                  
                <div class="mt-5">
                        <h4 class="fw-bold imm">Locandina</h4>
                        <span class="badge text-bg-dark bg-black mt-2">
                            Clicca l'immagine
                        </span>
                        <a href="@Url.Content(item.Locandina)" data-toggle="lightbox" data-size="fullscreen" data-caption="This describes the image">
                        <img src="@Url.Content(item.Locandina)"  class="d-block mt-5 w-100 shadow " alt="Alternate Text" />

                    </a>
                    
                    
                </div>

                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Delete" asp-route-id="@item.IdEvento"> <img src="~/immagini/Elimina.png" width="200px" alt="Alternate Text" id="liveAlertBtn" /></a>
                        <a asp-action="Edit" asp-route-id="@item.IdEvento"> <img src="~/immagini/Modifica.png" width="200px" alt="Alternate Text" id="liveAlertBtn" /></a>
                    }

                 


            </div>
        </div>
        </div>
    </div>
    }




