@model ArciteatroVibo.Models.Commedie

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Commedie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titolo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titolo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Trama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Trama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Locandina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Locandina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Regia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Regia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Interpreti)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Interpreti)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Extra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Extra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foto3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foto3)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCommedia" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
