@model IEnumerable<ArciteatroVibo.Models.Commedie>

@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid  bg-white ">
    <div class="container ">

        <h4 class="titlePage ">Commedie</h4>
        @if (User.IsInRole("Admin"))
        {
            <div class="m-5 text-center">  <a asp-action="Create"> <img src="~/immagini/NuovaCommedia.png" width="200px" alt="Alternate Text" /></a></div>
        }
       
        @foreach (var item in Model.Reverse())
        {
            <div class="container ">
                <div class="row mt-5 justify-content-between">
                    <div class="col-4 ms-5">
                        <h5 class="aragostaFont ">  @Html.DisplayFor(modelitem => item.Titolo)</h5>
                    </div>
                    <div class="col-4 me-3">
                        <h5 class="authorColor text-end">  @Html.DisplayFor(modelitem => item.Autore)</h5>
                    </div>
                </div>
                <div class="row paddingPage fade-in mb-3">
                    <p>  @Html.DisplayFor(modelitem => item.Trama)</p>
                    <div class=" row container justify-content-end">
                        <div class="col-1 py-3">
                            <a asp-action="Details" class="pinkButton text-end" asp-route-id="@item.IdCommedia">Esplora</a>
                        </div>
                    </div>
                </div>
                

            </div>
            @if (User.IsInRole("Admin"))
            {
                <div class="  pb-4">
                <a asp-action="Edit" asp-route-id="@item.IdCommedia"> <img src="~/immagini/Modifica.png" width="140px" alt="Alternate Text" class="me-4" id="liveAlertBtn" /></a>
                <a asp-action="Delete" asp-route-id="@item.IdCommedia"> <img src="~/immagini/Elimina.png" width="140px" alt="Alternate Text" id="liveAlertBtn" /></a>
                </div>
            }
           
               
        }
    </div>
</div>