@model ArciteatroVibo.Models.Home1

@{
    ViewData["Title"] = "Edit";
}


<div class="row justify-content-center  ">
   
  
    <div class="col-md-7 ">
       

        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdHome1" />
            <h4 class="titlePage" >Modificala Home</h4>
            <div class=" text-center mt-5 alert alert-light alert-dismissible fade show border border-danger shadow-lg" role="alert">
                <strong>Attenzione!</strong> Nel form sono presenti solo elementi di Upload pertanto non sarà possibile apportare modifiche ad un singolo elemento. Proseguire solo se si hanno tutto il materiale a disposizione.
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <div class="container border border-danger">
                <div class="row container justify-content-between m-2  pt-5">
                    <h3 class="aragostaFont ">Carosello</h3>
                    <p class="aragostaFont">Modifica il carosello, le tre immagini che scorrono in alto</p>
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Foto1" class="control-label"></label>
                            <input asp-for="updateimm" class="form-control" type="file" />
                            <span asp-validation-for="Foto1" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-5 position-relative">
                        <img style="width:200px" src="@Model.Foto1" class="img-thumbnail" alt="...">
                        <img src="~/immagini/arrow.png" alt="Alternate Text" class="position-absolute" style="width:30px; max-height:200px; top:120px" />
                    </div>
                </div>
                <div class="row container justify-content-between m-2">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Foto2" class="control-label"></label>
                            <input asp-for="updateimmDue" class="form-control" type="file" />
                            <span asp-validation-for="Foto2" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-5">
                        <img style="width:200px" src="@Model.Foto2" class="img-thumbnail" alt="...">
                    </div>
                </div>
                <div class="row container justify-content-between m-2">
                    <div class="col-4">
                        <div class="form-group">
                            <label asp-for="Foto3" class="control-label"></label>
                            <input asp-for="updateimmTre" class="form-control" type="file" />
                            <span asp-validation-for="Foto3" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-5 pb-5">
                        <img style="width:200px" src="@Model.Foto3" class="img-thumbnail" alt="...">
                    </div>
                </div>
            </div>
            <div class="container border border-danger my-3 ">
                <h3 class="aragostaFont">Statuto</h3>
                <div class="row container justify-content-between m-2">
                    <div class="col-4">
                        <div class="form-group">
                            
                            <input asp-for="UploadUp" class="form-control" type="file">
                            <span asp-validation-for="Upload" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-5">
                        <h3> Cambialo, oppure ricarica il file originale <span class="aragostaFont">@Model.Upload</span> </h3>
                    </div>
                </div>
            </div>
            <div class="container border border-danger ">
                <h3 class="aragostaFont">Video</h3>
                <div class="row container justify-content-between m-2">
                    <div class="col-4">
                        <div class="form-group">
                            
                            <input asp-for="Uploadvideo" class="form-control" type="file" />
                            <span asp-validation-for="Video" class="text-danger"></span>
                        </div>
                    </div>
                  
                        <div class="col-5">
                        <h3> Il video che stai cambiando  </h3>
                        <div> <video width="320" class="m-2" height="200" controls="true" src="@Url.Content("~/immagini/video/"+ @Model.Video)"> </div>
                          
                        </div>
                   

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
