@model IEnumerable<ArciteatroVibo.Models.Home1>

@{
    ViewData["Title"] = "Index";
}
<div class="transition-fade" id="swup">
@foreach (var item in Model)
{
    <div class="container-fluid  bg-black" style="position:relative;  ">
            <img src="~/immagini/sediliteatro.jpg" class="navImageOutside" />
        <div class="container ">
            <div id="carouselExampleSlidesOnly" class="carousel slide px-0" data-bs-ride="carousel">
                <div class="carousel-inner" >
                    <div class="carousel-item  active" style="z-index:2">
                            <img src="@Url.Content(item.Foto1)" class="d-block w-100  kenburns-top card-img-top" alt="...">
                </div>
                    <div class="carousel-item" style="z-index:2">
                            <img src="@Url.Content(item.Foto2)" class="d-block w-100  kenburns-top card-img-top" alt="...">
                </div>
                    <div class="carousel-item" style="z-index:2">
                            <img src="@Url.Content(item.Foto3)" class="d-block w-100  kenburns-top card-img-top" alt="...">
                </div>

            </div>

        </div>
               
        @* <div>
    <a asp-action="Edit" asp-route-id="@item.IdHome1">Edit</a> |
    <a asp-action="Details" asp-route-id="@item.IdHome1">Details</a> |
    <a asp-action="Delete" asp-route-id="@item.IdHome1">Delete</a>
    </div> *@

    </div>
    <div class="interlinea text-light ">
        <p class="my-0">Se ci vuoi sostenere o vuoi contribuire ai nostri progetti<a href="https://portale.arci.it/preadesione" class="fw-bold text-light"> vai al tesseramento!</a></p>
    </div>
          
        </div>
       
        <div class="container justify-content-between ">
            <div id="liveAlertPlaceholder"></div>
            <div class="m-5 text-center">  <a asp-action="Edit" asp-route-id="@item.IdHome1"> <img src="~/immagini/ModificaHome.png" width="200px" alt="Alternate Text" id="liveAlertBtn" /></a></div>
         
        <h5 class="text-danger mt-5">Chi siamo</h5>
        <div class="row border-bottom border-danger border-top  mt-2">
            <div class="col-6">
                <p class="mt-2">
                    Donut chupa chups apple pie liquorice brownie candy canes. Dessert muffin powder chocolate cookie pie ice cream. Macaroon caramels candy canes fruitcake macaroon halvah chocolate topping jelly. Chocolate cake jelly-o dessert shortbread cheesecake cake.
                    Tart sweet roll tootsie roll sweet sesame snaps caramels. Chocolate bar chocolate bar cake tootsie roll dragée apple pie topping gummies. Lollipop candy canes sugar plum oat cake tootsie roll jelly-o danish carrot cake sweet roll. Biscuit marzipan liquorice liquorice biscuit chocolate cake chupa chups.
                </p>
            </div>
            <div class="col-6 text-center">
                <a class="btn  bottonStatuto mt-5 " href="@Url.Action("DownloadFile", "Home1", new { fileName = item.Upload })">Scarica il nostro <span class="fw-bold">Statuto</span></a>
            </div>

        </div>



    </div>
    <div class=" bg-white shadowbox py-3 mt-5">

        <div class="container">
            <h4 class="text-end text-danger text-decoration-underline">In primo piano</h4>
            <div class="text-center">
                <video width="720" class="m-5" height="450" controls="true" src="@Url.Content("~/immagini/video/"+ item.Video)">
            </div>

        </div>
    </div>

}
<div class="container-fluid sfondoCardGrande ">

    <div class="container pt-5 text-light">
        <div class="row ">
            <div class="col-3">
                <a href="https://www.youtube.com/watch?v=i4TxjvTMR-o" class="h3 link-light">ISCRIVITI ALLA NOSTRA NEWSLETTER</a>
            </div>
            <div class="col-8 ">
                <div class="row rowCardHome">
                    <div class="col-4">
                        <div class="row">
                            <h4>Laboratori</h4>
                                
                        </div>
                        <div class="row">
                            <h4 class="fw-bold"> Nuovi contenuti</h4>
                        </div>
                    </div>
                    <div class="col-4">
                        <h4> Spettacoli</h4>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">
            <h4 class="distance">prova 1</h4>
        </div>
    </div>
    <div class="coverCard container">
        <img src="~/immagini/Mask group.png" class="img-fluid" alt="Alternate Text" />
    </div>
</div>

<div id="cardsZone">
</div>
<div class="container shadowbox bg-white rounded-3">
        <div class="me-5 my-5 row container justify-content-center">
        <div class="col-7">
            <div class="row">
            <h3 class="aragostaFont text-md-center my-3">Accettiamo proposte</h3>
            <p>
                Candy shortbread caramels oat cake candy powder sugar plum. Topping bonbon gummies dragée marzipan shortbread. Biscuit tart caramels wafer jujubes lollipop bonbon croissant.
                        Sugar plum marzipan pie gingerbread marzipan topping cake dessert cake. Chocolate bar brownie carrot cake pudding gummies icing. Lollipop toffee cookie sweet wafer wafer chupa chups. Cake icing pudding chocolate cake shortbread halvah brownie sweet roll donut.<i class="fi fi-ro-square-right"></i>
            </p>
            </div>
            <div class="row justify-content-center">
                <div class="col-3">
                        <a  asp-controller="Contatti" asp-action="Details" asp-route-id="1" class="pinkButton " style="Text-decoration:none">Scrivici</a>
            </div>
        </div>
        </div>
        <div class="col-4 container bg-white m-5">
            <img src="~/immagini/riunioneCovid.png" class="img-fluid" alt="Alternate Text" />
        </div>       
   
    
</div>
</div>
    
@section scripts {

    <script>
        $('#cardsZone').load("/Cards/PartialCard");
    </script>
}


