@model IEnumerable<ArciteatroVibo.Models.Home1>

@{
    ViewData["Title"] = "Index";
}
@foreach (var item in Model)
        {
<div>
<div id="carouselExampleSlidesOnly" class="carousel slide px-0" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
                <img src="@Url.Content(item.Foto1)" class="d-block w-100 card-img-top" alt="...">
        </div>
        <div class="carousel-item">
                <img src="@Url.Content(item.Foto2)" class="d-block w-100 card-img-top" alt="...">
        </div>
        <div class="carousel-item">
                <img src="@Url.Content(item.Foto3)" class="d-block w-100 card-img-top" alt="...">
        </div>
            
    </div>
       
</div>





    <div>
        <a asp-action="Edit" asp-route-id="@item.IdHome1">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.IdHome1">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.IdHome1">Delete</a>
    </div>
        
        <div>
            <a href="@Url.Action("DownloadFile", "Home1", new { fileName = item.Upload })">Scarica</a>

        </div>

    </div>

        }



