@model ArciteatroVibo.Models.Laboratorio

@{
    ViewData["Title"] = "Details";
}

<div class="container  my-4">
    <h4 class="titlePage">Eventi</h4>

    <h4 class="text-center">
        @Html.DisplayFor(model => model.Titolo)
    </h4>
    <p class="text-center my-5">@Html.DisplayFor(model => model.Testo2)</p>
    <div class="row container  my-5">
        <div class="col-6">       
            <p class="fw-bold mt-5">
                E-mail
            </p>
            <p>
                @Html.DisplayFor(model => model.EMail)
            </p>
            <div class="row">
                <div class="col-4">
                    <p class="fw-bold mt-5">
                        Data inizio
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.DataInizio)
                    </p>
                </div>
                <div class="col-4">
                    <p class="fw-bold mt-5">
                        Data fine
                    </p>
                    <p>
                        @Html.DisplayFor(model => model.DataFine)
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6 " id="FormZone">
         
        </div>
    </div>

    @section scripts {

        <script>
            $('#FormZone').load("/Contattaci/PartialForm");
        </script>
    }
    @* <a asp-action="Edit" asp-route-id="@Model?.IdLaboratorio">Edit</a> |
    <a asp-action="Index">Back to List</a> *@

