@model IEnumerable<ArciteatroVibo.Models.Richieste>

@{
    ViewData["Title"] = "Index";
}




<div class="container justify-content-center">

    <h4 class="titlePage">Iscrizioni</h4>
    <div class="row  justify-content-center">
   
    @foreach (var item in Model)
    {
       
        <div class="col-md-6">
            <div class=" mb-4">
                <div class="card-body  border border-danger">
                    <h4 class="aragostaFont">Inscrizione Per:</h4>
                    <h5 class="card-title fw-bold">@item.Nome @item.Cognome</h5>
                        <p class="card-text"> <span >Data di nascita</span>:<br/> @item.DataNascita</p>
                        <p class="card-text"> <span > Corpo richiesta</span>: <br /> @item.CorpoRichiesta</p>
                        <p class="card-text"> <span class="fw-bold aragostaFont"> @item.FkLaboratorioNavigation.Titolo</span></p>
                        <p class="card-text"> <span>Email Utente</span>:<br /> @item.FkUtenteNavigation.Email</p>

                        <div class=" text-end"> <a asp-action="Delete" asp-route-id="@item.IdRichiesta"> <img src="~/immagini/Elimina.png" width="180px" alt="Alternate Text" id="liveAlertBtn" /></a></div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-4">
                <img src="@Url.Content(item.FkLaboratorioNavigation.Immagine)" class="card-img-lab slit-in-vertical" alt="...">
                
        </div>
    }
   
</div>
</div>